@import url(https://fonts.googleapis.com/css?family=Oswald);

a:link, a:visited { color: lightgray; }
a:hover { color: #df80ff; }
a:active { color: #bf00ff; }

body {
  background-color: #660066;
  font-family: 'Oswald', sans-serif;
}

div {
  background-color: rgba(0, 0, 0, 0.5);
  color: lightgray;
  display: block;
  margin: auto;
  padding: 1em;
  text-align: center;
  width: 90%;
}

header {
  font-size: 2em;
  line-height: 1em;
  text-align: center;
  text-shadow: 5px 5px 5px gray;
  margin-bottom: auto;
}

nav {
  text-align: center;
  margin-bottom: -10px;
}

footer {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  display: block;
  margin: auto;
  margin-top: 1%;
  padding: 1em;
  text-align: center;
  width: 90%;
}

div .book {
  display: inline-block;
  width: 200px;
  margin-bottom: 1%;
}

.flash_error {
  color: red;
  text-align: center;
}
