a:link, a:visited { color: lightgray; }
a:hover { color: lightblue; }
a:active { color: blue; }

body {
  background-color: #660066;
}

div {
  background-color: rgba(0, 0, 0, 0.5);
  color: lightgray;
  display: block;
  margin: auto;
  padding: 1em;
  text-align: center;
  width: 90%;
}

header {
  text-align: center;
  margin-bottom: 1%;
}

header h1 {
  font-size: 4em;
  line-height: 10%;
  text-shadow: 2px 2px gray;
}

footer {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  display: block;
  margin: auto;
  margin-top: 1%;
  padding: 1em;
  text-align: center;
  width: 90%;
}

div .book {
  display: inline-block;
  width: auto;
}
