<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <title>Classroom Library</title>
  </head>
  <body>
    <% if Helpers.is_logged_in?(@session) %>
      <header>
        <h1><%= @user.username %>'s Library</h1>
      </header>
      <nav>
        <hr>
        <a href="/">Home</a> |
        <a href="/books/new">Add Book</a> |
        <a href="/books">View Books</a> |
        <a href="/logout">Log Out</a>
      </nav>
    <% else %>
      <header>
        <h1>Classroom Library</h1>
      </header>
      <nav>
        <a href="/">Home</a> |
        <a href="/login">Log In</a> |
        <a href="/signup">Sign Up</a>
      </nav>
    <% end %>

    <p class="flash_error">
      <%= flash[:error] if flash[:error] %>
    </p>
    <%= yield %>

    <footer>
      <p>
        Crafted by <a href="https://github.com/HarlemSquirrel">HarlemSquirrel</a>
      </p>
    </footer>
  </body>
</html>
